javascript:
  function searchComp(id) {
    var comp_no = document.getElementById(id).value;

    $.ajax({
      type:"POST",
      url:"/companies",
      dataType:"json",
      data: {company_no: comp_no},
      success: function () {
        console.log('it worked!');
      },
      error: function (result) {
        console.log('it failed :(');
        document.getElementById("comp_name").value = result.responseText;
      }
    });
  }

title EditInterview


<section class="page-section" id="contact">
  <div class="container">
      h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" = "#{@current_account.username}"
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" = "Interview"

      <div class="row">
          <div class="col-lg-8 mx-auto">
              form action="/interviews/#{interview.id}" method="POST" role="form" class="form-horizontal"
                  <div class="sentMessage">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Position</label>
                          input class="form-control" name="position" type="text" placeholder="Position" required="required" data-validation-required-message="Please enter the position." value="#{interview.position}"
                      </div>
                  </div>

                  br
                    <div class="control-group">
                      <div class="form-row align-items-center">
                        <div class="col-auto" id="ccc">
                          <p>輸入統一編號來尋找公司</p>
                          <label class="sr-only" for="inlineFormInput">Name</label>
                          <input type="text" class="form-control mb-2" id="comp_no" placeholder="tax ID number" value="">
                          <button type="button" class="btn btn-primary mb-2" onclick='searchComp("comp_no")'>Search Company</button>
                        </div>
                      </div>
                        
                      <div class="form-group floating-label-form-group">
                        <label>Company</label>
                        input class="form-control" name="company_name" id="comp_name" type="tel" placeholder="Company" required="required" data-validation-required-message="Please enter your intern company." value="#{interview.company_name}"
                      </div>
                    </div>

                  /time
                  <div class="date-picker">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                      <label>Interview Date</label>
                      input class="form-control" id="datepicker" name="time" type="text" placeholder="Inerview Date" required="required" data-validation-required-message="Please enter the Date." value="#{interview.time}"
                    </div>
                  </div>
                  
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Interview location</label>
                          input class="form-control" name="interview_location" type="tel" placeholder="Interview location" required="required" value="#{interview.interview_location}"
                      </div>
                  </div>

                  /iss_module
                  <div class="select-box">
                    <label for="select-box1" class="label select-box1"><span class="label-desc">#{interview.iss_module}</span> </label>
                    select id="select-box1" class="select" name="iss_module"
                      <option value="#{interview.iss_module}" hidden>Choose here</option>
                      <option value="" ></option>
                      <option value="Information Systems (IS)">Information Systems (IS)</option>
                      <option value="Service Marketing and Management">Service Marketing and Management</option>
                      <option value="Service Innovation and Design">Service Innovation and Design</option>
                      <option value="Business Analytics">Business Analytics</option>
                    </select>
                  </div>

                  /recruit_source
                  <div class="select-box">
                    <label for="select-box3" class="label select-box3">
                        <span class="label-desc">#{interview.recruit_source}</span> 
                    </label>
                    select id="select-box3" class="select" name="recruit_source"
                      <option value="#{interview.recruit_source}" hidden>Choose here</option>
                      <option value="">Choose here</option>
                      <option value="Linkedin">Linkedin</option>
                      <option value="CakeResume">CakeResume</option>
                      <option value="Google Careers">Google Careers</option>
                      <option value="104">104</option>
                      <option value="1111">1111</option>
                      <option value="Yourator">Yourator</option>
                      <option value="Official website">Official website</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>

                  /description
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Description</label>
                          textarea class="form-control" name="description" rows="5" placeholder="Interview Description" required="required" data-validation-required-message="Please enter job description." = "#{interview.description}"
                      </div>
                  </div>

                  /advice
                  <div class="control-group">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Advice</label>
                          textarea class="form-control" name="advice" rows="5" placeholder="Advice" required="required" data-validation-required-message="Please enter the reactionary." ="#{interview.advice}"
                      </div>
                  </div>

                  /Wating result time
                  <div class="select-box">
                    <label for="select-box4" class="label select-box4"><span class="label-desc">#{interview.waiting_result_time}</span> </label>
                    select id="select-box4" class="select" name="waiting_result_time"
                      <option value="#{interview.waiting_result_time}" hidden>Choose here</option>
                      <option value="">Choose here</option>
                      <option value="3 days">3 days</option>
                      <option value="3-7 days">3-7 days</option>
                      <option value="More than 7 days">More than 7 days</option>
                      <option value="No reply">No reply</option>
                    </select>
                  </div>

                  /result
                  <div class="select-box">
                    <label for="select-box5" class="label select-box4"><span class="label-desc">#{interview.result}</span> </label>
                    select id="select-box5" class="select" name="result"
                      <option value="#{interview.result}" hidden>Choose here</option>
                      <option value="">Choose here</option>
                      <option value="Offer get">Offer get</option>
                      <option value="Didn't get offer">Didn't get offer</option>
                      <option value="No reply">No reply</option>
                    </select>
                  </div>

                  /level
                  <div class="page__demo">
                    <div class="page__group">
                      <div class="rating">
                        <input type="radio" name="rating-star" class="frating__control screen-reader" id="rc1" value=1 style="display:none">
                        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc2" value=2 style="display:none">
                        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc3" value=3 style="display:none">
                        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc4" value=4 style="display:none">
                        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc5" value=5 style="display:none">
                        <label for="rc1" class="rating__item">
                          <svg class="rating__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc2" class="rating__item">
                          <svg class="rating__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc3" class="rating__item">
                          <svg class="rating__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc4" class="rating__item">
                          <svg class="rating__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc5" class="rating__item">
                          <svg class="rating__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>	
                      </div>
                      <span class="page__hint">Degree of difficulty</span>
                    </div>
                  </div>

                  /rating star
                  <div class="page__demo">
                    <div class="page__group">
                      <div class="rating2">
                        <input type="radio" name="rating2-star" class="rating2__control screen-reader" id="rc6" value=1 style="display:none">
                        <input type="radio" name="rating2-star" class="rating2__control screen-reader" id="rc7" value=2 style="display:none">
                        <input type="radio" name="rating2-star" class="rating2__control screen-reader" id="rc8" value=3 style="display:none">
                        <input type="radio" name="rating2-star" class="rating2__control screen-reader" id="rc9" value=4 style="display:none">
                        <input type="radio" name="rating2-star" class="rating2__control screen-reader" id="rc10" value=5 style="display:none">
                        <label for="rc6" class="rating2__item">
                          <svg class="rating2__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc7" class="rating2__item">
                          <svg class="rating2__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc8" class="rating2__item">
                          <svg class="rating2__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc9" class="rating2__item">
                          <svg class="rating2__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>
                        <label for="rc10" class="rating2__item">
                          <svg class="rating2__star">
                            <use xlink:href="#star"></use>
                          </svg>
                          <span class="screen-reader"></span>
                        </label>	
                      </div>
                      <span class="page__hint">Rating</span>
                    </div>
                  </div>
                  /Anonymous
                  <div class="control-group">
                    <label for="" class="label-desc">Anonymous</label>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="non_anonymous" id="gridRadios1" value="False">
                        <label class="form-check-label" for="gridRadios1"> Yes </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="non_anonymous" id="gridRadios2" value="True" checked>
                        <label class="form-check-label" for="gridRadios2"> No </label>
                      </div>
                    </div>
                  </div>
                  <br />
                  
                  <div id="success"></div>
                  button type='submit' id='sendMessageButton' value='post' class="btn btn-primary btn-block" POST
                  br
                  a type="button" class="btn btn-primary btn-block" href="/mypost" Cancel
              </form>
          </div>
      </div>
  </div>
  
