script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"

/ !-- Post JS-->
script src="/js/post.js"
script src="/js/post_v.js"

/ !-- RATINGSTAR JS-->
link href="/css/ratingstar.css" rel="stylesheet"
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="star" viewBox="0 0 26 28">
    <path d="M26 10.109c0 .281-.203.547-.406.75l-5.672 5.531 1.344 7.812c.016.109.016.203.016.313 0 .406-.187.781-.641.781a1.27 1.27 0 0 1-.625-.187L13 21.422l-7.016 3.687c-.203.109-.406.187-.625.187-.453 0-.656-.375-.656-.781 0-.109.016-.203.031-.313l1.344-7.812L.39 10.859c-.187-.203-.391-.469-.391-.75 0-.469.484-.656.875-.719l7.844-1.141 3.516-7.109c.141-.297.406-.641.766-.641s.625.344.766.641l3.516 7.109 7.844 1.141c.375.063.875.25.875.719z"/>
  </symbol>
</svg>

/ / !-- SELECTBOX -->
link href="/css/select.box.css" rel="stylesheet"
script src="/js/select.box.js"

/ / !-- DATEPICKER-->
link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/ link rel="stylesheet" href="/resources/demos/style.css"
script src="https://code.jquery.com/jquery-1.12.4.js"
script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
script src="/js/datepicker.js"

javascript:
  function searchComp(id) {
    var comp_no = document.getElementById(id).value;

    $.ajax({
      type:"POST",
      url:"/companies",
      dataType:"json",
      data: {company_no: comp_no},
      success: function () {
        console.log('it worked!');
      },
      error: function (result) {
        console.log('it failed :(');
        document.getElementById("comp_name").value = result.responseText;
      }
    });
  }

<section class="page-section" id="card">
  form action="/internships/#{internship.id}" method="POST" role="form" class="form-horizontal"
    input type='hidden' name='action' value='edit'
    <div class="container">
        h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" = "#{@current_account.username}"
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" = "Internship"

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form id="contactForm" name="sentMessage">
                    <div class="sentMessage">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Title</label>
                            input class="form-control" name="title" id="name" type="text" placeholder="Title" required="required" value="#{internship.title}"
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Position</label>
                            input class="form-control" name="position" id="position" type="text" placeholder="Intern Position" required="required" value="#{internship.position}"
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    br
                    <div class="control-group">
                      <div class="form-row align-items-center">
                        <div class="col-auto" id="ccc">
                          <p>輸入統一編號來尋找公司</p>
                          <label class="sr-only" for="inlineFormInput">Name</label>
                          <input type="text" class="form-control mb-2" id="comp_no" placeholder="tax ID number" value="">
                          <button type="button" class="btn btn-primary mb-2" onclick='searchComp("comp_no")'>Search Company</button>
                        </div>
                      </div>
                      <div class="form-group floating-label-form-group">
                        <label>Company</label>
                        input class="form-control" name="company_name" id="comp_name" type="tel" placeholder="Company" required="required" value="#{internship.company_name}"
                      </div>
                    </div>

                    /time
                    <div class="date-picker">
                      <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label for="editDate">Start Date</label>
                        input class="date-picker" name="year" id="editDate" required="required" value="#{internship.year}"
                      </div>
                    </div>

                    /iss_module
                    <div class="select-box">
                      <label for="select-box1" class="label select-box1"><span class="label-desc">#{internship.iss_module}</span> </label>
                      <select id="select-box1" class="select" name="iss_module">
                        <option value="#{internship.iss_module}" hidden>Choose here</option>
                        <option value="" ></option>
                        <option value="Information Systems (IS)">Information Systems (IS)</option>
                        <option value="Service Marketing and Management">Service Marketing and Management</option>
                        <option value="Service Innovation and Design">Service Innovation and Design</option>
                        <option value="Business Analytics">Business Analytics</option>
                      </select>
                    </div>

                    /period
                    <div class="select-box">
                      <label for="select-box2" class="label select-box2"><span class="label-desc">#{internship.period}</span> </label>
                      <select id="select-box2" class="select" name="period">
                        <option value="#{internship.period}" hidden>Choose here</option>
                        <option value="">Choose here</option>
                        <option value="Summer Internship">Summer Internship</option>
                        <option value="Winter internship">Winter Internship</option>
                        <option value="Choice 3">Internship during semester</option>
                        <option value="Internship during semester">Half year Internship</option>
                        <option value="One year internship">One year Internship</option>
                      </select>
                    </div>

                    /recruit_source
                    <div class="select-box">
                      <label for="select-box3" class="label select-box3"><span class="label-desc">#{internship.recruit_source}</span> </label>
                      <select id="select-box3" class="select" name="recruit_source">
                        <option value="#{internship.recruit_source}" hidden>Choose here</option>
                        <option value="">Choose here</option>
                        <option value="Linkedin">Linkedin</option>
                        <option value="CakeResume">CakeResume</option>
                        <option value="Google Careers">Google Careers</option>
                        <option value="104">104</option>
                        <option value="1111">1111</option>
                        <option value="Yourator">Yourator</option>
                        <option value="Official website">Official website</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>

                    /salary
                    <div class="select-box">
                      <label for="select-box4" class="label select-box4"><span class="label-desc">#{internship.salary}</span> </label>
                      <select id="select-box4" class="select" name="salary">
                        <option value="#{internship.salary}" hidden>Choose here</option>
                        <option value="">Choose here</option>
                        <option value="NO PAY">NO PAY</option>
                        <option value="NTD 1- NTD 20,000">NTD 1- NTD 20,000</option>
                        <option value="NTD 20,001- NTD 25,000">NTD 20,001- NTD 25,000</option>
                        <option value="NTD 25,001- NTD 30,000">NTD 25,001- NTD 30,000</option>
                        <option value="NTD 30,001- NTD 35,000">NTD 30,001- NTD 35,000</option>
                        <option value="NTD 35,001- NTD 40,000">NTD 35,001- NTD 40,000</option>
                        <option value="NTD 40,001- NTD 45,000">NTD 40,001- NTD 45,000</option>
                        <option value="NTD 45,001- NTD 50,000">NTD 45,001- NTD 50,000</option>
                        <option value="NTD 50,001 UP">NTD 50,001 UP</option>
                      </select>
                    </div>

                    /job_description
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Job Description</label>
                            textarea class="form-control" name="job_description" id="message" rows="5" required="required" ="#{internship.title}" 
                        </div>
                    </div>

                    /reactionary
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Reactionary</label>
                            textarea class="form-control" name="reactionary" id="message" rows="5" required="required" ="#{internship.reactionary}"
                        </div>
                    </div>

                    /rating star
                    <div class="page__demo">
                      <div class="page__group">
                        <div class="rating">
                          <input type="radio" name="rating-star" class="frating__control screen-reader" id="rc1" value=1 style="display:none">
                          <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc2" value=2 style="display:none">
                          <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc3" value=3 style="display:none">
                          <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc4" value=4 style="display:none">
                          <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc5" value=5 style="display:none">
                          <label for="rc1" class="rating__item">
                            <svg class="rating__star">
                              <use xlink:href="#star"></use>
                            </svg>
                            <span class="screen-reader">1</span>
                          </label>
                          <label for="rc2" class="rating__item">
                            <svg class="rating__star">
                              <use xlink:href="#star"></use>
                            </svg>
                            <span class="screen-reader">2</span>
                          </label>
                          <label for="rc3" class="rating__item">
                            <svg class="rating__star">
                              <use xlink:href="#star"></use>
                            </svg>
                            <span class="screen-reader">3</span>
                          </label>
                          <label for="rc4" class="rating__item">
                            <svg class="rating__star">
                              <use xlink:href="#star"></use>
                            </svg>
                            <span class="screen-reader">4</span>
                          </label>
                          <label for="rc5" class="rating__item">
                            <svg class="rating__star">
                              <use xlink:href="#star"></use>
                            </svg>
                            <span class="screen-reader">5</span>
                          </label>	
                        </div>
                        <span class="page__hint">Rating</span>
                      </div>
                    </div>
                    /Anonymous
                    <div class="control-group">
                      <label for="" class="label-desc">Anonymous</label>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="non_anonymous" id="gridRadios1" value="False">
                          <label class="form-check-label" for="gridRadios1"> Yes </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="non_anonymous" id="gridRadios2" value="True" checked>
                          <label class="form-check-label" for="gridRadios2"> No </label>
                        </div>
                      </div>
                    </div>
                    <br />
                    
                    <div id="success"></div>
                    button type='submit' id='sendMessageButton' value='post' class="btn btn-primary btn-block" EDIT
                    br
                    a type="button" class="btn btn-primary btn-block" href="/mypost" Cancel
                </form>
            </div>
        </div>
    </div>
  
