/ !-- Core theme JS & CSS-->
script src="../js/scripts.js"
link rel="stylesheet" href="../css/styles.css"


/ !-- Fonts & ICON CSS-->
link href="../css/heading.css" rel="stylesheet"
link href="../css/body.css" rel="stylesheet"
script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"

/ !-- RATINGSTAR JS-->
link href="../css/ratingstar.css" rel="stylesheet"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="star" viewBox="0 0 26 28">
    <path d="M26 10.109c0 .281-.203.547-.406.75l-5.672 5.531 1.344 7.812c.016.109.016.203.016.313 0 .406-.187.781-.641.781a1.27 1.27 0 0 1-.625-.187L13 21.422l-7.016 3.687c-.203.109-.406.187-.625.187-.453 0-.656-.375-.656-.781 0-.109.016-.203.031-.313l1.344-7.812L.39 10.859c-.187-.203-.391-.469-.391-.75 0-.469.484-.656.875-.719l7.844-1.141 3.516-7.109c.141-.297.406-.641.766-.641s.625.344.766.641l3.516 7.109 7.844 1.141c.375.063.875.25.875.719z"/>
  </symbol>
</svg>

/ !-- SELECTBOX -->
link href="../css/select.box.css" rel="stylesheet"
script src="../js/select.box.js"

link href="../css/posts.css" rel="stylesheet"

title InterviewSharing


<header class="page-section bg-white text-primary text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading mb-0">INTERVIEW SHARING</h1>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    h1 class="text-center text-uppercase text-primary mb-0"title 
    h5 class="text-center text-uppercase text-black mb-0"AUTHOR
    h5 class="text-center text-uppercase text-black mb-0"ISS MODULE
    </div>
  </div>  
</header>


<nav class="postnav navbar navbar-expand-lg bg-secondary fixed-bottom" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">POST Title</a>
    ul class="navbar-nav ml-auto"
      <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#info">INFO</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#des">DESCRIPTION</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#adivce">ADVICE</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#result">RESULT</a>
      </li>
    </ul>
  </div>
</nav>

<section class="page-section bg-primary " id="info">
  <div class="container">
      <!-- Portfolio Section Heading-->
      <div class="text-center">
          <h2 class="page-section-heading text-white text-uppercase mb-0 d-inline-block"><br>Interview Infomation</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row justify-content-center mx-3">
          <!-- Portfolio Items-->
          <div class="interviewinfo col-md-6 col-lg-4 mb-5 text-center">Company
            h2 class="interviewinfo2 text-uppercase mb-0" ss
          </div>
          <div class="interviewinfo col-md-6 col-lg-4 mb-5 text-center">Position
              h2 class="interviewinfo2 text-uppercase mb-0" ss
          </div>
          <div class="interviewinfo col-md-6 col-lg-4 mb-5 text-center">Date
              h2 class="interviewinfo2 text-uppercase mb-0" ss
          </div>
          <div class="interviewinfo col-md-6 col-lg-4 mb-5 text-center">Location
              h2 class="interviewinfo2 text-uppercase mb-0" ss
          </div>
          <div class="interviewinfo col-md-6 col-lg-4 mb-5 text-center">Recruit Source
              h2 class="interviewinfo2 text-uppercase mb-0" ss
          </div>
          
      </div>
      
  </div>
</section>

<section class="page-section bg-secondary text-white mb-0" id="des">
  <div class="container">
      <!-- About Section Heading-->
      <div class="text-center">
          <h2 class="page-section-heading d-inline-block text-white">INTERVIEW DESCRIPTION</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      h4 class="text-center text-uppercase mb-0 text-white"DDDDDDEEEE
  </div>
</section>  

<section class="page-section bg-primary text-white mb-0" id="adivce">
  <div class="container">
      <!-- About Section Heading-->
      <div class="text-center">
          <h2 class="page-section-heading d-inline-block text-white">ADVICE</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      h4 class="text-center text-white mb-0"DDDDDDEEEE 
  </div>
</section>

<section class="page-section bg-secondary text-white mb-0" id="result">
  <div class="container">
      <!-- About Section Heading-->
      <div class="text-center">
          <h2 class="page-section-heading d-inline-block text-white">INTERVIEW RESULT</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <div class="row justify-content-center mx-3">
        <div class="jobsimple col-md-6 col-lg-4 mb-5 text-center">Result
          h2 class="jobsimple2 text-uppercase mb-0" ss
        </div>
        <div class="jobsimple col-md-6 col-lg-4 mb-5 text-center">Time for Result
          h2 class="jobsimple2 text-uppercase mb-0" ss
        </div>
      </div>
      <div class="row justify-content-center mx-3">
        <div class="jobsimple col-md-6 col-lg-4 mb-5 text-center">Difficulty
          h2 class="jobsimple2 text-uppercase mb-0" 
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
        </div>
        <div class="jobsimple col-md-6 col-lg-4 mb-5 text-center">Rating
          h2 class="jobsimple2 text-uppercase mb-0" 
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
            <label for="rc1" class="rating__item">
              <svg class="rating__star">
                <use xlink:href="#star"></use>
              </svg>
              <span class="screen-reader"></span>
            </label>
      </div>
          
  </div>
</section>



<section class="page-section bg-secondary text-white mb-0" id="blank">
  <div class="container">
      / <div class="text-center">
          <h2 class="page-section-heading d-inline-block text-white"></h2>
      </div>
  </div>
</section>






/ <section class="copyright py-4 text-center text-white">
  <div class="container"><small class="pre-wrap">Copyright © LeafStopFly 2021 </small></div>
