/ !-- Core theme JS & CSS-->
script src="../js/scripts.js"
link rel="stylesheet" href="../css/styles.css"


/ !-- Fonts & ICON CSS-->
link href="../css/heading.css" rel="stylesheet"
link href="../css/body.css" rel="stylesheet"
script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"


